body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

.main {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  gap: 36px;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  width: 30%;
  list-style: none;
  font-size: 14px;
}

.footer-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

.footer-link:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out .3s;
  opacity: 0.8;
}

.year {
  opacity: 0.5;
}

footer .copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
  text-align: center;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}

@media (max-width: 768px) {
  .footer-icons {
    width: 50%;
  }
}

@media (max-width: 548px) {
  .footer-icons {
    width: 90%;
  }
}

@media (max-width: 436px) {
  header h1 {
    padding-bottom: 0;
    font-size: 28px;
  }
}


/* search */
.form-search {
  width: 100%;
  max-width: 30%;
}

.search-label {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 44px;
}

.search-input {
  padding-left: 20px;
  padding-right: 50px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 100%;
  color: #E6E6E6;
  background-color: transparent;
  border: 1px solid #E6E6E6;
  border-radius: 22px;
}

.search-input[type="search" i]::-webkit-search-cancel-button {
  display: none;
}

.search-submit {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #E6E6E6;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
}

.search-submit:hover {
  cursor: pointer;
  color: #69db7e;
}