.burger {
  display: none;
}

@media (max-width: 800px) {
  .burger {
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 30px;
  width: 35px;
  height: 32px;
  background-color: transparent;
  background-image: url('../../../img/burger.svg');
  }

  .burger-active {
    display: block;
  }

  .burger:hover {
    cursor: pointer;
  }
}