* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  color: #FFFFFF;
  background-color: #000000;
}