@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #000000;
}

.header-content {
  display: grid;
  grid-template-columns: 82px 1fr 105px;
  align-items: center;
  margin: auto auto;
  padding: 14px 0;
  line-height: 140%;
}

.logo {
  position: relative;
  outline: 1px solid #FFFFFF;
  outline-offset: -1px;
  border-radius: 2px;
  padding: 5px 5px 1px;
  max-width: 82px;
  max-height: 52px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.logo-image {
  position: absolute;
  top: 46%;
  left: 13%;
}

.logo-text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
}

.nav-list {
  display: flex;
  gap: 58px;
  margin-left: 63px;
}

.nav-item:first-child {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  /* color: #F9804B; */
  cursor: default;
}

.nav-item:first-child:hover a{
  cursor: default;
}

.nav-item:not(:first-child):hover,
.design:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-item:active,
.design:active {
  color: #F9804B;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.watch-online {
  padding-top: 86px;
  padding-bottom: 101px;
  color: #FFFFFF;
  background-image: url(../../assets/images/watch-online-bg.jpg);
  background-position: 50% -80px;
  background-size: 100%;
}

.watch-online-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  z-index: 1;
  max-width: 500px;
  margin-left: auto;
}

.watch-online-content::before {
  display: block;
  position: absolute;
  top: -74px;
  left: -74px;
  height: 465px;
  width: 465px;
  z-index: 0;
  content: '';
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}

.slogan {
  width: 500px;
  z-index: 1;
  font-size: 106.496px;
  line-height: 75%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.selected-text {
  color: #FFEE2E;
}

.button {
  padding: 18px 95px;
  /* font-size: 16px;
  line-height: 140%; */
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
}

.button:hover {
  cursor: pointer;
  background: #E47209;
}

.button:active {
  background: #4B9200;
}

.button-round {
  border-radius: 25px;
}

.watch-btn {
  align-self: center;
}

.backstage {
  position: relative;
  margin: 140px auto;
  color: #333B41;
}

.backstage-content {
  display: grid;
  grid-template-columns: 1fr 465px;
  gap: 87px;
}

.small-desktop {
  display: none;
}

.tablet {
  display: none;
}

.backstage::after {
  display: block;
  position: absolute;
  top: -32%;
  right: 0;
  z-index: 1;
  width: 199px;
  height: 605px;
  content: '';
  background-image: url(../../assets/images/plant-backstage.png);
  background-repeat: no-repeat;
}

.section-big-title {
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

.backstage-text {
  margin-bottom: 54px;
  line-height: 130%;
}

.section-subtitle {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.backstage-subtext {
  line-height: 140%;
}

.pets {
  position: relative;
  padding-top: 35px;
  padding-bottom: 100px;
  color: #000000;
}

.pets::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 880px;
  height: 460px;
  content: '';
  background-image: url(../../assets/images/plant-palm-pets.png);
  background-repeat: no-repeat;
}

.pets::after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 368px;
  height: 275px;
  content: '';
  background-image: url(../../assets/images/plant-strelitzia-pets.png);
  background-repeat: no-repeat;
}

.slider-controls {
  position: absolute;
  top: 38.5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto auto;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 1324px;
}

.arrow-left {
  display: inline-block;
  margin-right: auto;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: red; */
  background: url(../../assets/icons/arrow-left.svg),
              linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.arrow-left:hover {
  cursor: pointer;
  background: url(../../assets/icons/arrow-left.svg),
              #E47209;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.arrow-left:active {
  cursor: pointer;
  background: url(../../assets/icons/arrow-left.svg),
              #4B9200;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.arrow-right {
  display: inline-block;
  justify-self:end;
  /* margin-right: auto; */
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: red; */
  background: url(../../assets/icons/arrow-right.svg),
              linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.arrow-right:hover {
  cursor: pointer;
  background: url(../../assets/icons/arrow-right.svg),
              #E47209;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.arrow-right:active {
  cursor: pointer;
  background: url(../../assets/icons/arrow-right.svg),
              #4B9200;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  column-gap: 30px;
  row-gap: 22px;
  margin-bottom: 82px;
}

.card {
  position: relative;
  width: 364px;
  height: 424px;
  border-radius: 5px;
}

.card::after {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 366px;
  height: 426px;
  z-index: -1;
  content: '';
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
}

.card-content {
  background-color: #fff;
  border-radius: 5px;
}

.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card:hover .card-image {
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.10);
}

.card-text {
  padding-top: 6px;
  padding-left: 16px;
  padding-bottom: 13px;
  margin-right: 10px;
  background-image: url(../../assets/icons/pet-banana-bamboo.svg);
  background-repeat: no-repeat;
  background-position: 100%;
}

.card:nth-child(2) .card-text,
.card:nth-child(5) .card-text,
.card:nth-child(6) .card-text {
  background-image: url(../../assets/icons/pet-meet-fish.svg);
  background-position: 101% 48%;
}

.card:hover .card-text {
  /* padding-left: 20px;
  padding-right: 30px; */
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000000;
  background-image: none;
  opacity: 0.8;
  transform: scale(1.10);
  transform: translateY(-100%);
  transition: ease-in-out 0.3s;
}

.card:hover::after{
  display: none
}

.card-title {
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.pet-desc {
  margin-top: -4px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.favorite-btn {
  display: block;
  margin: 0 auto;
  padding-right: 58px;
  padding-left: 58px;
}

.pick-and-feed {
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.feed-content {
  padding-bottom: 59px;
  color: #333B41;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.feed-article {
  padding: 0 59px 0 99px;
}

.feed-title {
  margin-bottom: 30px;
  padding-top: 41px;
  text-align: center;
  color: #FE9013;
}

.feed-subtitle {
  margin-bottom: 40px;
}

.feed-bold-text {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.feed-text {
  max-width: 863px;
}

.feed-link {
  display: inline;
  padding-bottom: 3px;
  border-bottom: 1px solid #FE9013;
}

.feed-link:hover {
  cursor: pointer;
  color: #FE9013;
}

.feed-link:active {
  color: #4B9200;
  border-bottom: 1px solid #4B9200;
}

.payment-scheme {
  margin-top: 63px;
  margin-bottom: 62px;
  text-align: center;
}

.section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.feed-steps-list {
  display: flex;
  flex-direction: row;
  gap: 132px;
  margin: 40px auto;
  max-width: 762px;
}

.feed-step-item {
  max-width: 166px;
  text-align: left;
  line-height: 140%;
}

.step-icon {
  position: relative;
  margin-bottom: 30px;
  width: 166px;
  height: 166px;
  background-color: #FFFFFF;
  background-image: url(../../assets/icons/feed-step-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
}

.step-icon::before {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 168px;
  height: 168px;
  z-index: -1;
  content: '';
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
}

.step-icon:not(.last-step)::after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-14%);
  right: -120%;
  width: 168px;
  height: 168px;
  z-index: 5;
  content: '';
  background-image: url(../../assets/icons/feed-arrow.svg);
  background-repeat: no-repeat;
}

.feed-step-item:first-child div{
  background-image: url(../../assets/icons/feed-step-1.svg);
}

.feed-step-item:last-child div{
  background-image: url(../../assets/icons/feed-step-3.svg);
}

.feed-btn {
  display: block;
  margin: 0 auto;
  padding-right: 72px;
  padding-left: 77px;
  max-width: 300px;
}

.testimonials {
  position: relative;
  padding-top: 140px;
  padding-bottom: 180px;
}

.testimonials-title {
  text-align: center;
}

.testimonials::after {
  display: block;
  position: absolute;
  /* bottom: -3%;
  right: -3%; */
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 247px;
  height: 275px;
  /* height: 301px;
  width: 295px; */
  content: '';
  background-image: url(../../assets/images/plant-leav-testimonial.png);
  background-repeat: no-repeat;
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(4, 264px);
  grid-template-rows: 387px;
  gap: 34px;
  margin: 49px 2px 24px;
}

.testimonials-item {
  position: relative;
  padding: 13px 13px 17px 14px;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: #F1F3F2;
  border-radius: 20px;
}

.testimonials-item::before {
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 268px;
  height: 391px;
  z-index: -1;
  content: '';
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
              linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
}

.author {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.author-name {
  display: block;
  line-height: 120%;
  color: #000000;
}

.author-destination,
.author-date {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.author-destination {
  position: relative;
  padding-right: 16px;
}

.author-destination::after {
  display: block;
  position: absolute;
  top: 45%;
  right: 4%;
  width: 3px;
  height: 3px;
  z-index: 1;
  content: '';
  background-color: #BDBDBD;;
  /* background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%); */
  border-radius: 50px;
}

.testimonials-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.progress-bar {
  position: relative;
  width: 598px;
  height: 6px;
  margin: 0 auto 32px;
  background-color: #F5F7F6;
  border-radius: 5px;
}

.progress-bar::before {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 600px;
  height: 8px;
  z-index: -1;
  content: '';
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
              linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
}

.button-rectangle {
  border-radius: 5px;
  padding-right: 85px;
  padding-left: 85px;
  text-align: left;
}

.progress-bar:hover {
  cursor: pointer;
  transform: scaleY(1.05);
}

.progress-state {
  width: 19%;
  height: 100%;
  background-color: #FE9013;
  border-radius: 5px;
}

.progress-state:hover {
  transform: scaleY(1.05);
  background-color: #E47209;
}

.footer {
  padding: 40px 0 50px;
  color: #FFFFFF;
  background-color: #111115;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: 85px 62px 134px;
  column-gap: 30px;
  row-gap: 36px;
}

.footer-logo {
  grid-column-start: 1;
  grid-row-start: 1;
  padding-top: 2px;
  padding-bottom: 3px;
}

.donate-btn {
  grid-column-start: 1;
  grid-row-end: 3;
  display: block;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 298px;
  max-height: 54px;
}

.socials-list {
  grid-column-start: 1;
  grid-row: 3 / 4;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 140%;
}

.socials-link {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 26px;
}

.socials-item:hover .socials-icon,
.socials-item:hover .socials-link {
  transform: scale(1.05);
}

.socials-item:active {
  color: #4B9200;
}

.socials-item:active .socials-icon {
  background-color: #4B9200;
}

.socials-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../../assets/icons/socials-facebook.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(196, 196, 196, 0.5);
}

.socials-item:nth-child(2) .socials-icon {
  background-image: url(../../assets/icons/socials-twitter.svg);
}

.socials-item:nth-child(3) .socials-icon {
  background-image: url(../../assets/icons/socials-instagram.svg);
}

.socials-item:nth-child(4) .socials-icon {
  background-image: url(../../assets/icons/socials-youtube.svg);
}

.subscribe {
  grid-column-start: 3;
  width: 100%;
}

.subscribe-title {
  margin-bottom: 14px;
}

.subscribe-form {
  display: flex;
  gap: 10px;
}

.subscribe-input {
  position: relative;
  margin-left: 1px;
  margin-bottom: 1px;
  padding: 10px 7px 10px 10px;
  width: 230px;
  max-height: 42px;
  line-height: 140%;
  color: #BDBDBD;
  background-color: #111115;
  border: none;
  border: 1px solid #FE9013;
  border-radius: 2px;
}

.subscribe-input::placeholder {
  color: #BDBDBD;
}

.subscribe-input:focus:valid {
  color: #BDBDBD;
  outline: 0;
  border-color: #4B9200;
}

.subscribe-input:focus:invalid {
  color: #D31414;
  outline: 0;
  border-color: #D31414;
}

.subscribe-btn {
  padding: 9px 38px;
  max-height: 42px;
  text-transform: capitalize;
  color: #000000;
  background: #F1F3F2;
  border: 1px solid #000000;
}

.subscribe-btn:hover {
  font-weight: 500;
  background-color: #F1F3F2;
  transform: scale(1.02);
}

.subscribe-input:invalid+.subscribe-btn {
  color: #D31414;
  border: 1px solid #D31414;
}

.subscribe-input:valid+.subscribe-btn {
  color: #4B9200;
  border-color: #4B9200;
}

.subscribe-input:valid+.subscribe-btn:active {
  color: #FFFFFF;
  background: #4B9200;;
  border-color: #4B9200;
}

.display-none {
  display: none;
}

.navigation-footer {
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: end;
}

.nav-list-footer {
  margin-left: 3px;
}

.footer-designed {
  grid-column-start: 3;
  grid-row-start: 3;
  justify-self: left;
  align-self: end;
  margin-left: auto;
  max-width: 230px;
  font-weight: 100;
  font-size: 16px;
  line-height: 170%;
}

.footer-designed:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.05);
}

.footer-designed:active {
  color: #4B9200;
  text-decoration: underline;
}

.footer-design-link {
  display: block;
  text-align: left;
}


@media (max-width: 1240px) {
  .container {
    max-width: 940px;
  }

  .header {
    position: relative;
    z-index: 5;
  }

  .nav-list {
    gap: 48px;
  }

  .watch-online {
    padding-top: 43px;
    padding-bottom: 47px;
    background-size: 120%;
  }

  .watch-online-content {
    max-width: 400px;
    gap: 41px;
    margin-right: 56px;
  }

  .watch-online-content::before {
    top: -54px;
    left: -58px;
    height: 367px;
    width: 367px;
    z-index: -1;
  }

  .slogan {
    width: 400px;
    font-size: 85px;
    line-height: 75%;
  }

  .watch-btn {
    padding-right: 91px;
    padding-left: 91px;
  }

  .backstage {
    margin: 100px auto;
  }

  .backstage-content {
    grid-template-columns: 1fr 1fr;
    gap: 31px;
  }

  .desktop {
    display: none;
  }

  .backstage-image {
    padding-top: 9px;
    /* padding-bottom: 10px; */
  }

  .small-desktop {
    display: block;
  }

  .backstage::after {
    display: none;
  }

  .pets {
    padding-top: 40px;
    padding-bottom: 140px;
  }

  .pets::before {
    width: 194px;
    height: 202px;
    background-image: url(../../assets/images/plant-palm-pets-small-desktop.png);
  }

  .pets::after {
    width: 241px;
    height: 180px;
    background-image: url(../../assets/images/plant-strelitzia-pets-small-desktop.png);
  }

  .slider-controls {
    top: 40%;
    left: 35%;
    transform: translateX(-50px);
    transform: translateY(-60%);
    margin: auto auto;
  }

  .arrows {
    justify-content: center;
    padding-left: 3px;
    width: 298px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 94px;
    margin-bottom: 82px;
  }

  .card {
    width: 292px;
    height: 352px;
  }

  .card::after {
    top: -1px;
    right: -1px;
    width: 294px;
    height: 354px;
  }

  .card-image {
    width: 100%;
    height: 100%;
  }

  .card-text {
    padding-bottom: 14px;
  }

  .pick-and-feed {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .feed-title {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  .feed-content {
    padding-bottom: 50px;
  }

  .feed-article {
    padding: 0 49px 0 48px;
  }

  .feed-subtitle {
    margin-bottom: 21px;
  }

  .payment-scheme {
    margin-top: 42px;
    margin-bottom: 72px;
  }

  .testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  .testimonials-list {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(3, 291px); */
    grid-template-rows: 387px;
    column-gap: 32px;
    row-gap: 2px;
    /* margin-top: 30px; */
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    grid-auto-rows: 0; /* set height to 0 for autogenerated grid rows */
    overflow-y: hidden;
    /* overflow-x:hidden; */
    margin: 30px 0 4px;
  }

  .testimonials-item {
    width: 290px;
  }

  .testimonials-item::before {
    width: 294px;
    height: 391px;
  }

  .testimonials-list::-webkit-scrollbar {
    width: 0;
  }

  .progress-bar {
    margin-bottom: 53px;
    width: 388px;
    height: 6px;
  }

  .progress-bar::before {
    width: 390px;
  }

  .testimonials::after {
    bottom: 0;
    right: 0;
    width: 196px;
    height: 238px;
    background-image: url(../../assets/images/plant-leav-testimonial-small-desktop.png);
  }

  .footer-content {
    grid-template-columns: 298px 326px 1fr;
    column-gap: 0;
    padding-left: 13px;
  }

  .subscribe {
    grid-column-start: unset;
    grid-column-end: 4;
    width: 366px;
    justify-self: end;
    margin-left: -84px;
    margin-right:auto;
    /* padding-right: 45px; */
  }

  .subscribe-form {
    width: 366px;
  }

  .footer-designed {
    grid-column-start: unset;
    grid-column-end: 4;
  }

  .nav-list-footer {
    margin-left: -6px;
  }


@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }

  .header-content {
    display: block;
    padding: 2px 0 3px;
  }

  .burger {
    display: block;
    position: absolute;
    top: 11px;
    right: 0;
    margin-right: 20px;
    width: 18px;
    height: 10px;
    background-color: transparent;
    background-image: url(../../assets/icons/burger.svg);
    background-repeat: no-repeat;
    border: none;
  }

  .nav-close {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: url(../../assets/icons/close.svg);
    background-repeat: no-repeat;
    border: none;
  }

  .navigation {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5;
    padding-right: 16px;
    top: 0;
    right: -342px;
    /* width: 100%; */
    width: 640px;
    /* font-size: 16px; */
    font-weight: 400;
    color: #333B41;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
    transition: transform 0.6s ease-in-out;
  }

  .navigation-active {
    transform: translateX(-640px);
    transition: transform 0.6s ease-in-out;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-top: 82px;
    padding-bottom: 40px;
    padding-left: 10px;
    gap: 15px;
  }

  .tablet {
    display: block;
  }

  .tablet-hidden {
    display: none;
  }

  .logo {
    outline: none;
    padding: 0;
    max-width: 47px;
    max-height: 29px;
  }

  .logo-text {
    /* display: inline-block;
    text-align: center;
    vertical-align: middle; */
    font-size: 12.29px;
  }

  .logo-image {
    top: 46%;
    left: 8%;
    height: 45%;
  }

  .watch-online {
    padding-top: 48px;
    padding-bottom: 40px;
    background-position: 50% -34px;
  }

  .watch-online-content {
    display: block;
    max-width: 100%;
    margin-right: 0;

  }

  .watch-online-content::before {
    top: -15%;
    left: 51.5%;
    height: 238px;
    width: 238px;
  }

  .slogan {
    /* align-self: flex-end; */
    margin-left: auto;
    padding-left: 6px;
    width: 256px;
    font-size: 54.29px;
  }

  .watch-btn {
    margin-top: -7px;
    margin-left: 1px;
  }

  .backstage {
    margin-top: 60px;
    margin-bottom: 39px;
  }

  .backstage::after {
    display: block;
    position: absolute;
    top: -18%;
    right: 0;
    z-index: 1;
    width: 128px;
    height: 476px;
    content: '';
    background-image: url(../../assets/images/plant-backstage-tablet.png);
    background-repeat: no-repeat;
  }

  .backstage-image {
    display: none;
  }

  .backstage-content {
    display: block;
  }

  .backstage-article {
    padding-left: 4px;
    max-width: 495px;
  }

  .backstage-text {
    margin-left: -4px;
    margin-bottom: 30px;
  }

  .section-subtitle {
    margin-bottom: 20px;
  }

  .backstage-subtext {
    margin-left: -4px;
  }

  .pets {
    padding-top: 39px;
    padding-bottom: 100px;
  }

  .pets::before {
    width: 134px;
    height: 202px;
    background-image: url(../../assets/images/plant-palm-pets-tablet.png);
  }

  .pets::after {
    width: 175px;
    height: 131px;
    background-image: url(../../assets/images/plant-strelitzia-pets-small-tablet.png);
  }

  .slider-controls {
    top: 41.5%;
    left: 37.5%;
  }

  .arrows {
    justify-content: center;
    gap: 30px;
    padding-left: 3px;
    padding-right: 5px;
    width: 164px;
  }

  .arrow-left {
    margin-right: 0;
  }

  .cards {
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: 332px 332px;
    overflow-x: hidden;
    column-gap: 29px;
    row-gap: 92px;
    margin-bottom: 58px;
    padding-top: 1px;
    padding-left: 2px;
  }

  .card {
    width: 283px;
    height: 330px;
    border-radius: 3.89671px;
  }

  .card::after {
    width: 285px;
    height: 332px;
    border-radius: 3.89671px;
  }

  .card-image {
    border-top-left-radius: 3.89671px;
    border-top-right-radius: 3.89671px;
  }

  .card-text {
    padding-top: 2px;
    padding-left: 12px;
    padding-bottom: 11px;
    background-image: url(../../assets/icons/pet-banana-bamboo-tablet.svg);
  }

  .card:nth-child(2) .card-text,
  .card:nth-child(5) .card-text,
  .card:nth-child(6) .card-text {
    background-image: url(../../assets/icons/pet-meet-fish-tablet.svg);
    background-position: 102% 30%;
  }

  .card-title {
    padding-bottom: 2px;
    font-size: 12.4695px;
  }

  .pet-desc {
    font-size: 11.6901px;
  }

  .pick-and-feed {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .feed-content {
    padding-bottom: 60px;
  }

  /* .feed-content.container {
    max-width: 640px;
  } */

  .feed-title {
    padding-top: 10px;
    font-size: 42px;
  }

  .feed-article {
    padding: 0;
  }

  .feed-subtitle {
    font-size: 22px;
  }

  .feed-bold-text {
    margin-bottom: 10px;
  }

  .feed-text {
    line-height: 130%;
  }

  .payment-scheme {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .feed-steps-list {
    gap: 44px;
    margin: 20px auto;
  }

  .step-icon {
    margin-bottom: 33px;
  }

  .step-icon:not(.last-step)::after {
    display: block;
    position: absolute;
    top: 5%;
    transform: translateY(-14%);
    right: -83%;
    width: 168px;
    height: 168px;
    z-index: 5;
    content: '';
    background-image: url(../../assets/icons/feed-arrow-tablet.svg);
    background-repeat: no-repeat;
  }

}