//all variables values here
$white: #ffffff;
$black: #19192e;
$dark-green: #40bf45;
$bright-green: #55ff5c;
$light-green: #c7ffc9;
$green-bg: #3b5f4f;
$red: #ff7070;
$red-hover: #ff4a4a;
$red-bg: #ff70701a;
$disabled-bg: #25243266;
$disabled-color: #787878;
$disabled-border: 2px solid #787878;
$border-radius: 4px;
$shadow: 2px 2px 4px #19192e, 6px 6px 30px #141414;
