//for images: background-image: url('img/brock-wegner.jpg');//path relating index.scss
// body {
//   font-family: 'Noto Serif', serif;
// }

//header
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 8px;
}

.logo-text {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 64px;
  color: $orange;
}

.selected {
  color: $yellow;
}

.navigation {
  align-self: flex-end;
  padding-bottom: 14px;
  padding-right: 18px;
}

.nav-list {
  display: flex;
  gap: 24px;
  font-weight: 700;
}

.nav-link {
  padding: 4px 6px 2px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.link-active {
  color: $yellow;
  transition: ease-in-out .3s;
}

.nav-link:active {
  color: $yellow;
}

.link-active {
  color: $yellow;
  border-bottom: 2px solid $yellow;
}

//intro
.intro {
  position: relative;
  height: 100%;
}

.intro::after {
  position: absolute;
  top: -91%;
  left: 10.5%;
  width: 200px;
  height: 200px;
  z-index: -1;
  content: '';
  background: radial-gradient(50% 50% at 50% 50%, $orange 0%, $yellow 100%);
  border-radius: 50%;
  box-shadow: $shadow;
  // animation: scale1 10s;
  // animation-iteration-count: infinite;
}

// @keyframes scale1 {
//   50% {
//     transform: scale(0.6);
//     // transform: rotateZ(60deg) translate(1em, -9em);
//   }
//   50% {
//     transform: scale(1.4);
//   }
// }

.intro::before {
  position: absolute;
  bottom: -15%;
  left: -9%;
  width: 392px;
  height: 392px;
  z-index: -1;
  content: '';
  background: radial-gradient(50% 50% at 50% 50%, #D5482A 0%, $orange 100%);
  border-radius: 50%;
  box-shadow: $shadow;
  // animation: scale2 10s;
  // animation-iteration-count: infinite;
}

// @keyframes scale2 {
//   50% {
//     transform: scale(1.4);
//   }
//   50% {
//     transform: scale(0.6);
//   }
// }

.intro-content {
  // margin: 33% auto 10%;
  margin: 320px auto 10%;
  padding: 18px 36px 56px;
  width: 66%;
  text-align: center;
  color: $green;
  background-color: $light-frosted;
  border-radius: $border-radius;
  backdrop-filter: $blur-white;
}

.intro-title {
  padding-bottom: 24px;
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
}

.intro-text {
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 33px;
}

.intro-button {
  margin-top: 22px;
  animation: shake 3s linear infinite;
}

.intro-button:hover {
  animation: none;
}

@keyframes shake {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


//quiz-page
.score-wrapper {
  display: flex;
  margin-bottom: 12px;
}

.score {
  margin-left: auto;
  padding-right: 24px;
  font-size: 40px;
  line-height: 52px;
  text-align: right;
}

.level-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding: 0 0;
  text-align: center;
  color: $white;
  background-color: $orange;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.level-item {
  padding-top: 11px;
  padding-bottom: 11px;
  width: calc((100% - 24px*5) / 6);
  align-self: auto;
  // font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.level-item:first-child {
  border-radius: $border-radius 0 0 $border-radius;
}

.level-item:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

.level-active {
  background-color: $yellow;
}

.question {
  display: flex;
  gap: 40px;
  margin-bottom: 28px;
  padding: 16px 24px 16px 16px;
  background-color: $green-frosted;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.bird-image {
  width: 216px;
  height: 160px;
  // background-color: $gray;
  background-image: url('img/guess-bird-bg.jpg');
  background-size: cover;
  border-radius: $border-radius;
}

.bird-wrapper {
  width: calc(100% - 256px);
}

.bird-name {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  font-size: 40px;
  line-height: 54px;
}

.bird-name::after {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
  content: '';
  background: $light-green;
  border-radius: $border-radius;
  // box-shadow: $shadow;
}

.player-controls {
  display: flex;
  gap: 16px;
}

.play-icon {
  width: 40px;
  height: 40px;
  color: $orange;
  // background-image: url('img/play.svg');
  // background-size: 40px 40px;
  // background-position: center center;
  // background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: none;
}

.play-icon:hover {
  cursor: pointer;
  color: $yellow;
  background-color: transparent;
  transition: ease-in-out .3s;
}

.play-icon:active {
  color: $yellow;
  background-color: transparent;
}

.play-range-wrapper {
  align-self: flex-end;
  width: calc(100% - 40px - 16px);
}

.play-range {
  width: 100%;
  height: 4px;
}

.player-duration {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}

.sound-control {
  display: flex;
  gap: 16px;
}

.sound-on {
  width: 40px;
  height: 40px;
  color: $orange;
  background-image: url('img/sound-on-icon.svg');
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.sound-range {
  align-self: center;
  height: 4px;
}

.answer-wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 24px;
  margin-bottom: 28px;
}

.answer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
  height: 292px;
  background-color: $green-frosted;
  border-radius: $border-radius;
  box-shadow: $shadow;
}

.answer-item {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  line-height: 22px;
}

// .answer-item:hover,
.item-hovered {
  cursor: pointer;
  color: $yellow;
  transition: ease-in-out .3s;
}

// .answer-item:hover .answer-circle {
.item-hovered .answer-circle {
  background-color: $yellow;
  transition: ease-in-out .3s;
}

.answer-item:not(:last-child):after {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
  content: '';
  background: $light-green;
  // box-shadow: $shadow;
}

.answer-circle {
  width: 8px;
  height: 8px;
  background-color: $light-green;
  border-radius: 50%;
}

.correct-answer {
  background-color: $correct;
}

.wrong-answer {
  background-color: $wrong;
}

.info {
  height: 292px;
  padding: 16px 24px 16px 16px;
  background-color: $green-frosted;
  border-radius: $border-radius;
  box-shadow: $shadow;
}

.info-wrapper {
  display: flex;
  gap: 28px;
  margin-bottom: 16px;

  & .bird-name {
    margin-bottom: 8px;
  }

  & .bird-name::after {
    bottom: -46px;
  }

  & .bird-name-latin {
    margin-bottom: 40px;
  }

  & .sound-control {
    display: none;
  }
}

.bird-desc {
  height: 116px;
  line-height: 22px;
}

.next-button {
  margin-bottom: 48px;
  width: 100%;
}


//footer
.footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  width: 50%;
  color: $white;
}

.settings {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('img/settings.svg');
  opacity: 0.5;
}

.settings:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out .3s;
  opacity: 1;
}

.settings-menu {
  position: absolute;
  bottom: 54px;
  left: 25px;
  padding: 16px;
  width: 240px;
  /* height: 100px; */
  z-index: 2;
  background-color: $light-frosted;
  color: $green;
  border-radius: $border-radius;
  // visibility: hidden;
}

.settings-menu-visible {
  visibility: visible;
  transition: ease-in-out .3s;
}

.settings-arrow {
  position:absolute;
  bottom: -32px;
  left: 13px;
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 6px solid $light-frosted;
  background-color: transparent;
}

.settings-title {
  font-size: 18px;
  text-align: center;
}

label:hover{
  cursor: pointer;
}

.language-choise {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  padding-top: 12px;
  font-size: 14px;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $green;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:checked+label::before {
  border-color: $orange;
  background-color: $orange;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
}

.footer-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.footer-link:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out .3s;
  opacity: 0.8;
}

.year {
  opacity: 0.5;
}

.designed {
  opacity: 0.5;
}

.designed:hover {
  color: $green;
  transform: scale(1.03);
  transition: ease-in-out .3s;
  opacity: 1;
}