//for images: background-image: url('img/brock-wegner.jpg');//path relating index.scss
// body {
//   font-family: 'Noto Serif', serif;
// }

.logo-text {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: $orange;
}

.selected {
  color: $yellow;
}


// .image {
//   width: 300px;
//   height: 500px;
//   background-size: cover;
//   background-image: url('img/brock-wegner.jpg');//path relating index.scss
// }